Repository famousdev0207/power_platform-, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Microsoft/connectors, @tjkb, @mattybeard, @Encodian, @RFlipper, @waldekmastykarz, @jeremyjclarke, @yusureabc

reverted last commit to make a PR instead
  connectors/CognitiveServicesTextAnalytics/Readme.md
  connectors/CognitiveServicesTextAnalytics/apiDefinition.swagger.json
  connectors/CognitiveServicesTextAnalytics/apiProperties.json
Owners: @Microsoft/connectors

made readme and swagger description changes
  connectors/Planner/Readme.md
  connectors/Planner/apiDefinition.swagger.json
Owners: @Microsoft/connectors

Updated artifacts of Plumsail and Plumsail SP connectors (#78)
  connectors/Plumsail Documents/apiDefinition.swagger.json
  connectors/Plumsail Documents/apiProperties.json
  connectors/Plumsail SP/apiDefinition.swagger.json
  connectors/Plumsail SP/apiProperties.json
Owners: @RFlipper

Open Sourced Text Analytics connector (#83)
  connectors/CognitiveServicesTextAnalytics/Readme.md
  connectors/CognitiveServicesTextAnalytics/apiDefinition.swagger.json
  connectors/CognitiveServicesTextAnalytics/apiProperties.json
Owners: @Microsoft/connectors

Add VS Code integration (#85)
  .vscode/settings.json
Owners: @Microsoft/connectors

"DeleteTask" action was added to Planner. (#87)
  connectors/Planner/apiDefinition.swagger.json
  connectors/Planner/apiProperties.json
Owners: @Microsoft/connectors

Fix paconn-cli (#84)
  tools/paconn-cli/README.md
  tools/paconn-cli/setup.py
Owners: @Microsoft/connectors

add emfluence Marketing Platform connector (#88)
  connectors/emfluencemp/apiDefinition.swagger.json
  connectors/emfluencemp/apiProperties.json
  connectors/emfluencemp/readme.md
Owners: @Microsoft/connectors

Initial Commit (#89)
  samples/AcuityScheduling/README.md
  samples/AcuityScheduling/apiDefinition.swagger.json
  samples/AcuityScheduling/apiProperties.json
Owners: @Microsoft/connectors

exghts custom connector - initial commit (#91)
  connectors/exghts/apiDefinition.swagger.json
  connectors/exghts/apiProperties.json
  connectors/exghts/readme.md
Owners: @Microsoft/connectors

Added Cloudmersive Virus Scan Connector (#92)
  connectors/Cloudmersive Virus Scan/apiDefinition.swagger.json
  connectors/Cloudmersive Virus Scan/apiProperties.json
  connectors/Cloudmersive Virus Scan/readme.md
Owners: @Microsoft/connectors

Easyvista/selfhelp initial import (#93)
  connectors/easyvistaselfhelp/apiDefinition.swagger.json
  connectors/easyvistaselfhelp/apiProperties.json
  connectors/easyvistaselfhelp/readme.md
Owners: @Microsoft/connectors

Initial add of FireText Connector (#94)
  connectors/FireText/apiDefinition.swagger.json
  connectors/FireText/apiProperties.json
  connectors/FireText/readme.md
Owners: @Microsoft/connectors

Envoy Connector
  connectors/.DS_Store
  connectors/envoy/apiDefinition.swagger.json
  connectors/envoy/apiProperties.json
  connectors/envoy/readme.md
Owners: @Microsoft/connectors

Added Cloudmersive Image Processing Connector
  connectors/Cloudmersive Image Processing/apiDefinition.swagger.json
  connectors/Cloudmersive Image Processing/apiProperties.json
  connectors/Cloudmersive Image Processing/readme.md
Owners: @Microsoft/connectors

Add files via upload
  connectors/gofileroom/apiDefinition.swagger.json
  connectors/gofileroom/apiProperties.json
  connectors/gofileroom/readme.md
Owners: @Microsoft/connectors

openapi artifact (#99)
  connectors/Aquaforest PDF Connector/apiDefinition.swagger.json
  connectors/Aquaforest PDF Connector/apiProperties.json
  connectors/Aquaforest PDF Connector/readme.md
Owners: @Microsoft/connectors

Added Cloudmersive Data Validation Connector (#98)
  connectors/Cloudmersive Data Validation/apiDefinition.swagger.json
  connectors/Cloudmersive Data Validation/apiProperties.json
  connectors/Cloudmersive Data Validation/readme.md
Owners: @Microsoft/connectors

Updated
  connectors/Cloudmersive Document Conversion/Readme.md
  connectors/Cloudmersive Document Conversion/apiDefinition.swagger.json
  connectors/Cloudmersive Document Conversion/apiProperties.json
Owners: @Microsoft/connectors

Added Cloudmersive Document Conversion Connector
  connectors/Cloudmersive Document Conversion/Readme.md
Owners: @Microsoft/connectors

HotProfile PR
  connectors/HotProfile/apiDefinition.swagger.json
  connectors/HotProfile/apiProperties.json
  connectors/HotProfile/readme.md
Owners: @Microsoft/connectors

Add Smarp connector
  connectors/Smarp/apiDefinition.swagger.json
  connectors/Smarp/apiProperties.json
  connectors/Smarp/readme.md
Owners: @Microsoft/connectors

Extend Pre-requisites
  connectors/Smarp/readme.md
Owners: @Microsoft/connectors

Added JungleMail 365 connector files
  connectors/JungleMail365/apiDefinition.swagger.json
  connectors/JungleMail365/apiProperties.json
  connectors/JungleMail365/readme.md
Owners: @Microsoft/connectors

ShareEffect connector added
  connectors/ShareEffect/apiDefinition.swagger.json
  connectors/ShareEffect/apiProperties.json
  connectors/ShareEffect/readme.md
Owners: @Microsoft/connectors

Title
  connectors/ShareEffect/readme.md
Owners: @Microsoft/connectors

[Encodian] Partner Connector Update
  connectors/Encodian/apiDefinition.swagger.json
Owners: @Encodian

Add Tallyfy connector
  connectors/Tallyfy/apiDefinition.swagger.json
  connectors/Tallyfy/apiProperties.json
  connectors/Tallyfy/readme.md
Owners: @Microsoft/connectors

Add SignRequest connector files
  connectors/SignRequest/apiDefinition.swagger.json
  connectors/SignRequest/apiProperties.json
Owners: @Microsoft/connectors

Add InSpark Company Connect connector
  connectors/InSpark Company Connect/apiDefinition.swagger.json
  connectors/InSpark Company Connect/apiProperties.json
  connectors/InSpark Company Connect/readme.md
Owners: @Microsoft/connectors

Add files via upload
  connectors/ShortURL/apiDefinition.swagger.json
  connectors/ShortURL/apiProperties.json
  connectors/ShortURL/readme.md
Owners: @Microsoft/connectors

added Short URL
  connectors/Short URL/apiDefinition.swagger.json
  connectors/Short URL/apiProperties.json
  connectors/Short URL/readme.md
Owners: @Microsoft/connectors

updated readme.md
  connectors/ShortURL/readme.md
Owners: @Microsoft/connectors

Added Elfsquad Product Configurator Connector (#110)
  connectors/ElfsquadProductConfigurator/README.md
  connectors/ElfsquadProductConfigurator/apiDefinition.swagger.json
  connectors/ElfsquadProductConfigurator/apiProperties.json
Owners: @Microsoft/connectors

Pushcut (#111)
  connectors/Pushcut/apiDefinition.swagger.json
  connectors/Pushcut/apiProperties.json
  connectors/Pushcut/readme.md
Owners: @Microsoft/connectors

Added the Rencore Governance connector (#112)
  connectors/Rencore Governance/apiDefinition.swagger.json
  connectors/Rencore Governance/apiProperties.json
  connectors/Rencore Governance/readme.md
Owners: @Microsoft/connectors

Changed Folder name to CompanyConnect (#113)
  connectors/CompanyConnect/apiDefinition.swagger.json
  connectors/CompanyConnect/apiProperties.json
  connectors/CompanyConnect/readme.md
Owners: @Microsoft/connectors

remove file
  connectors/Short URL/apiDefinition.swagger.json
  connectors/Short URL/apiProperties.json
  connectors/Short URL/readme.md
Owners: @Microsoft/connectors

Added Serverless360 Folder
  connectors/Serverless360/apiDefinition.swagger.json
  connectors/Serverless360/apiProperties.json
  connectors/Serverless360/readme.md
Owners: @Microsoft/connectors

Adding Robolytix connector
  connectors/Robolytix/apiDefinition.swagger.json
  connectors/Robolytix/apiProperties.json
  connectors/Robolytix/readme.md
Owners: @Microsoft/connectors

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*       @Microsoft/connectors

/connectors/ahead @tjkb
/connectors/Data8 @mattybeard
/connectors/Encodian @Encodian
/connectors/Plumsail\ Documents @RFlipper
/connectors/Plumsail\ Forms @RFlipper
/connectors/Plumsail\ HelpDesk @RFlipper
/connectors/Plumsail\ SP @RFlipper
/connectors/Rencore @waldekmastykarz
/connectors/WebMerge @jeremyjclarke
/connectors/Yeelight @yusureabc
/tools/paconn-cli @Microsoft/connectors
